datasets/dataset/datachallenge.zip
dist/
Data_Challenge.egg-info/
build/
datachallenge/datasets/dataset/
datachallenge/datasets/__pycache__
datachallenge/utils/__pycache__
datachallenge/utils/data/__pycache__
datachallenge/__pycache__
datachallenge/evaluation_metrics/__pycache__/
datachallenge/models/__pycache__
*.zip
