datasets/dataset/datachallenge.zip
dist/
Data_Challenge.egg-info/
build/
datachallenge/datasets/dataset/
datachallenge/datasets/__pycache__
datachallenge/utils/__pycache__
atachallenge/utils/__pycache__
datachallenge/__pycache__
*.zip